.company-logos-section {
  background-color: #f4f4f4; /* Set your desired background color */
  padding: 50px 0;
}

.swiper-container {
  padding: 20px;
}

.company-logo {
  width: 150px; /* Set the desired width for your logos */
  height: 150px; /* Set the desired height for your logos */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Set logo background color */
  border-radius: 10px; /* Add rounded corners */
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
