
/* Home */
#home{
    /* background: rgb(0, 101, 219); */
    background:black;
    background: linear-gradient(90deg, rgb(0,101,219) 50%, rgba(0, 212, 255, 1) 100%);
    min-height: 500px;
}

/* Cards */
.card{
    transition: all 0.5s ease;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Form */
.form{
    /* background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0,101,219) 30%, rgba(0, 212, 255, 1) 100%); */
    background: rgb(8, 12, 17);
    background: linear-gradient(90deg, rgb(19, 19, 19) 40%, rgb(157, 158, 158) 100%);
    

}

/* Footer */
.footer{
    /* background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0,101,219) 40%, rgba(0, 212, 255, 1) 100%); */
    /* background: rgb(8, 12, 17);
    background: linear-gradient(90deg, rgb(19, 19, 19) 40%, rgb(44, 46, 46) 100%); */
    background:
    linear-gradient(90deg, #122045 50%, rgb(176, 167, 204) 100%)
}

@media(max-width:440px){
    .footer{
        background:
        linear-gradient(90deg, #122045 100%, rgb(176, 167, 204) 100%);
        padding-right: 2.1rem;
        margin-bottom: 0;
    }
}
